h1 {
  color: #3a17d6;
  text-align: center;
}
p.dogname {
  text-align:center
}
div.center {
  text-align:center;
  width: 100%;
  float: center;
  background-color: rgba(30, 120, 143, 0.884);
}
.highlight {
  color:rgb(239, 234, 243)
}
img {
  float:center;
}
