h1 {
  color: #3a17d6;
  text-align: center;
}
p.dogname {
  text-align:center
}
div.center {
  text-align:center;
  width: 30%;
  float: center;
  background-color: rgba(107, 149, 160, 0.432);
}
.highlight {
  color:blueviolet
}
img {
  float:center;
}
